@font-face {
    font-family: 'pokemon';
    src: url(../fonts/pokemon.ttf);
}

html {
    font-family: helvetica;
    font-size: 2.5vmin;
}

body {
    min-width: 800px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url(../images/background6.JPG);
    background-size: cover;
}

p {
    margin: 0;
}

#page {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.customConfirm {
    display: none;
    width: 300px;
    height: 150px;
    position: fixed;
    z-index: 903;
    right: 0;
    left: 0;
    margin: 2em auto;
    border-style: solid;
    border-width: 0.5em;
    border-radius: 0.5em;
    border-color: black;
    background-color: beige;
    font-size: 16px;
}

.confirmInfo {
    margin: 1em;
}

.confirmButton {
    width: 7em;
    height: 2em;
    border-style: solid;
    border-radius: 1em;
    border-color: beige;
    color: beige;
    background-color: crimson;
    font-weight: bold;
    font-size: 1em;
    margin-left: 1.3em;
}

.confirmButton:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 0.3em;
    border-color: black;
}

#helpView {
    display: none;
    width: 700px;
    height: 500px;
    position: fixed;
    z-index: 902;
    right: 0;
    left: 0;
    margin: 2em auto;
    border-style: solid;
    border-width: 0.5em;
    border-radius: 0.5em;
    border-color: black;
    background-image: url(../images/helpScreenInfo.png);
    background-size: cover;
}

#helpClose {
    float: right;
    margin: 1em;
}

#header {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 20%;
    margin: 3% auto;
    background-color: crimson;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
    border-radius: 0.5em;
}

#title {
    height: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    border-width: 10px;
}

#info {
    width: 100%;
    height: 40%;
    background-color: crimson;
}

#pokeDollarContainer {
    width: 30%;
    height: 60%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    background-color: beige;
    float: left;
    font-size: 3vh;
}

#masterballsContainer {
    width: 27%;
    height: 60%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    background-color: beige;
    float: left;
    font-size: 3vh;
}

#masterballsIcon {
    margin-left: 0.2em;
}

#menu {
    width: 10%;
    height: 80%;
    margin-left: 2%;
}

#stats {
    width: 10%;
    height: 80%;
    margin-left: 0.5%;
}

#help {
    width: 10%;
    height: 80%;
    margin-left: 0.5%;
}

.Button {
    border-style: solid;
    border-radius: 1em;
    border-color: beige;
    background-color: beige;
    font-weight: bold;
}

.Button:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 0.3em;
    border-color: black;
}

#content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    margin-bottom: 2%;
}

#left {
    width: 50%;
    height: 100%;
    //margin: 0 auto;
    float: left;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
    border-radius: 0.5em;
    background-color: beige;
}

#canvas {
    width: 100%;
    height: 58%;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    display: inline-block;
}

#canvas:hover {
    cursor: url(../images/cursor_attack_64.png) 32 32, auto;
    background-color: lightgray;
}

#healthbarContainer {
    width: 100%;
    height: 45%;
    padding-top: 2%;
}

#healthbar[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Get rid of default border in Firefox. */
    border: none;
    /* Dimensions */
    width: 88%;
    height: 25%;
    margin: 0 auto;
    display: flex;
    opacity: 0.5;
}

#healthbar[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    //background-image:
    -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#hp {
    width: 87%;
    height: auto;
    margin: 0.5em auto;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    background-color: beige;
}

#overallDPS {
    width: 87%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    background-color: beige;
}

#enemyContainer {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemy {
    min-width: 90px;
    min-height: 90px;
    width: 15vh;
    height: 15vh;
}

#lvl {
    margin-left: 20px;
}

#upgrade {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    overflow-y: scroll;
}

.upgrade {
    width: 48px;
    height: 48px;
    margin-top: 4%;
    margin-left: 6%;
    display: inline-block;
    background-color: crimson;
    background-size: cover;
    border-radius: 0.5em;
}

.upgrade:hover {
    cursor: pointer;
}

#right {
    width: 43%;
    height: 100%;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: beige;
    border-style: solid;
    border-color: black;
    border-width: 0.5em;
    border-radius: 0.5em;
}

.tokenContainer {
    width: 100%;
}

.tokenContainer:hover {
    background-color: crimson;
}

#menuWindow {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    background-color: crimson;
    font-size: 2vmin;
    padding: 0.5em;
}

#softreset {
    margin: 0.5em auto;
}

#hardreset {
    margin: 0.5em auto;
}

#statsWindow {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    background-color: crimson;
    font-size: 2vmin;
    padding: 0.5em;
}

#curRound {
    font-weight: bold;
}

.slide {
    display: none;
    width: 100%;
    height: 50%;
    background: crimson;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
}

.token {
    width: 100%;
    height: 15%;
    margin: 0 auto;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
}

.token:hover {
    cursor: pointer;
}

.pokeimg {
    min-width: 60px;
    min-height: 60px;
    width: 9vh;
    height: 9vh;
    float: left;
    background-size: cover;
}

.pokestats {
    width: 45%;
    height: 100%;
    float: left;
}

.pokename {
    width: 100%;
    height: 33%;
    padding-top: 2%;
    font-weight: bold;
}

.costsContainer {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
}

.pokecost {
    padding-top: 2%;
}

.pokemonCostIcon {
    height: 100%;
    display: flex;
    align-items: center;
}

.pokedps {
    width: 100%;
    height: 33%;
    font-size: 2vmin;
}

.pokeamount {
    //width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

.tokenPlus {
    display: none;
    width: 100%;
    height: 10%;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    background-color: lightgray;
}

.buyMore {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyMore:hover {
    cursor: pointer;
    font-weight: bold;
}

.evolve {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evolveText {
    width: auto;
    float: left;
}

.evolveUpgrade {
    width: 5vmin;
    height: 5vmin;
    margin: 0;
    margin-left: 5%;
    display: inline-block;
    background-color: crimson;
    background-size: cover;
    border-radius: 0.5em;
}

.listBuffer {
    width: 100%;
    height: 20%;
}

#footer {
    width: 100%;
    font-size: 0.6em;
    margin-top: 3em;
    text-align: center;
}

.hidden {
    display: none;
}

.disable-select {
    -webkit-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grayscale {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;
}

.blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}

.bgColorCrimson {
    background-color: crimson;
}

@media only screen and (max-height: 640px),
screen and (max-width: 840px) {
    html {
        font-size: 1em;
    }
    #pokeDollarContainer {
        font-size: 1.20em;
    }
    #masterballsContainer {
        font-size: 1.20em;
    }
    #menuWindow {
        font-size: 0.8em;
    }
    #statsWindow {
        font-size: 0.8em;
    }
    .pokecost {
        font-size: 1em;
    }
    .pokedps {
        font-size: 0.8em;
    }
    .pokeamount {
        font-size: 2em;
    }
}
